.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  z-index: 1;
  overflow-y:auto;
  scrollbar-color: red orange;
  scrollbar-width: thin;
}

.w-80 {
  width: 80% !important;
}

.w-80:active, .w-80:focus {
  outline: none !important;
  box-shadow: none !important;
}

.sidebar .header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.sidebar .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .content ul li {
  padding: 10px 15px;
}

.sidebar .content ul li:hover {
  background-color: #dee2e6;
  cursor: pointer;
}

.sidebar .content ul li a {
  text-decoration: none;
  color: #212529;
}

/* .sidebar .content ul li a:hover {
    color: #007bff;
} */

.sidebar .content ul li.active a {
  color: #007bff;
}
